USE [master]
GO
/****** Object:  Database [KBC_QUIZ]    Script Date: 19/05/2019 1:03:15 SA ******/
CREATE DATABASE [KBC_QUIZ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KBC_QUIZ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\KBC_QUIZ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KBC_QUIZ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\KBC_QUIZ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KBC_QUIZ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KBC_QUIZ]
GO
USE [KBC_QUIZ]
GO
/****** Object:  Table [dbo].[AdminAccount_TB]    Script Date: 19/05/2019 1:03:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminAccount_TB](
	[Admin_ID] [int] IDENTITY(1,1) NOT NULL,
	[Admin_Username] [varchar](20) NOT NULL,
	[Admin_Password] [varchar](20) NOT NULL,
	[Admin_Fullname] [varchar](30) NULL,
 CONSTRAINT [PK_AdminAcount_TB] PRIMARY KEY CLUSTERED 
(
	[Admin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prize_TB]    Script Date: 19/05/2019 1:03:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prize_TB](
	[Prize_ID] [int] NULL,
	[Prize_RightAnswer] [int] NULL,
	[Prize_MissAnswer] [int] NULL,
	[Prize_WalkAway] [int] NULL,
	[Prize_WrongAnswer] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question_TB]    Script Date: 19/05/2019 1:03:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question_TB](
	[Question_ID] [int] IDENTITY(1,1) NOT NULL,
	[Question_DifficultyLevel] [varchar](5) NULL,
	[Question_Topic] [varchar](50) NULL,
	[Question_Content] [varchar](300) NOT NULL,
	[Question_Choice1] [varchar](100) NOT NULL,
	[Question_Choice2] [varchar](100) NOT NULL,
	[Question_Choice3] [varchar](100) NOT NULL,
	[Question_Choice4] [varchar](100) NOT NULL,
	[Question_RightAnswer] [varchar](5) NOT NULL,
 CONSTRAINT [PK__Question__B0B2E4C68C8DD6FA] PRIMARY KEY CLUSTERED 
(
	[Question_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount_TB]    Script Date: 19/05/2019 1:03:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount_TB](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Username] [varchar](20) NOT NULL,
	[User_Password] [varchar](20) NOT NULL,
	[User_Phone] [nvarchar](20) NOT NULL,
	[User_Mail] [varchar](30) NOT NULL,
	[User_FullName] [varchar](30) NULL,
	[User_Address] [varchar](50) NULL,
	[User_HighestScore] [int] NULL,
	[User_NumberOfAttendance] [int] NULL,
	[User_MetBeforeQuestionID] [nvarchar](200) NULL,
 CONSTRAINT [PK__UserAcco__206D9190A5D59AA9] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserAccount_TB] ADD  CONSTRAINT [DF_UserAccount_TB_User_MetBeforeQuestionID]  DEFAULT ((0)) FOR [User_MetBeforeQuestionID]
GO
USE [master]
GO
